.section {
  padding-top: 94px;
  padding-bottom: 47px;
}
.future-list {
  display: flex;
  justify-content: center;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  text-decoration: none;
  padding-left: 0;
}
.future-list .list > .item {
  flex-basis: calc (100% / 4 -30px);
  margin-right: 30px;
}
.item {
  width: 270px;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
}
.future-list > .item:not(:last-child) {
  margin-right: 30px;
}
.future-list-title {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--future-title);
}
.text-task {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  /* or 171% */

  letter-spacing: 0.03em;

  color: var(--main-text-color);
}
.future-box {
  width: 270px;
  height: 120px;
  left: 215px;
  top: 774px;
  margin-bottom: 30px;
  background: #f5f4fa;
  border-radius: 4px;
  padding-right: 100px;
  padding-left: 100px;
  padding-top: 25px;
  padding-bottom: 25px;
}
