:root {
  --hero-background-color: #2f303a;
  --main-text-color: #757575;
  --future-title: #212121;
  --back-button-focus-hover: #2196f3;
  --team-backgroung: #f5f4fa;
  --accent-color-focus: #2196f3;
  --social-link: #afb1b8;
  --animation-hover: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --footer-tittle-color: #ffffff;
}
